.breadcrumbs-section{
  background-color: #ededed;
}
.bc-button{
  background-color: rgba(0,173,239, 0.3);
  color: #fff;
  font-size: 22px;
  padding: 10px 40px;
  margin: 0px 10px;
  display: inline-block;
}
.bc-divider{
  font-size: 24px;
  // line-height: 38px;
  color: rgba(0,173,239, 0.3);
  // margin-top: 10px;
}
.bc-divider{
  // display: inline-block;
  // padding: 10px 0px;
}
.breadcrumbs-body{
  // height: 50px;
  // display: block;
  // box-sizing: border-box;
  // vertical-align: -webkit-baseline-middle;
}
.bc-active{
  background-color: $custom-blue;
}
.bc-div-active{
  color: $custom-blue;
}
