.hero-custom {
    // height: 90vh;
    .text-area {
        background: $red !important;
    }
    .hero-header h1 {
        color: $white;
        padding-top: 160px;
        padding-left: 50px;
        font-size: 45px;
        font-weight: bold;
        padding-bottom: 60px;
        @media (max-width: 575px) {
            font-size: 38px;
        }
    }
    .hero-strapline {
        padding-left: 50px;
        padding-right: 40px;
        padding-bottom: 30px;
        h3 {
            color: $white;
            font-weight: 600;
            font-size: 20px;
            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
    .hero-search {
        vertical-align: bottom !important;
        display: inline-flex;
        padding-left: 50px;
        padding-bottom: 130px;
        .custom-select {
            width: 400px;
            padding-left: 30px;
            height: 90px;
            border-radius: 0px;
            font-size: 20px;
            font-weight: lighter;
        }
        .custom-sec-btn {
            color: $white;
            background-color: $dark-grey;
            border: 0;
            height: 90px;
            width: 90px;
            font-size: 40px;
            margin-left: -3px;
            img {
                height: 70px;
            }
        }
    }
    .hero-right {
        background-image: url("/img/hero-right.png");
        background-position: right;
        background-size: cover;
    }
    .hero-top {
        background-image: url("/img/hero-right.png");
        background-position: center;
        background-size: cover;
        width: 100vw;
        min-height: 350px;
    }
    .custom-select {
        max-width: 400px;
        padding-left: 30px;
        height: 90px;
        border-radius: 0px;
        font-size: 20px;
        font-weight: lighter;
    }
    .custom-sec-btn {
        color: $white;
        background-color: $dark-grey;
        border: 0;
        height: 90px;
        width: 90px;
        font-size: 40px;
        margin-left: -3px;
        img {
            height: 70px;
        }
    }
}
