.custom-cta-section{
  background-color: $dark-grey;
  padding: 80px 0px;
  h2{
    font-size: 25px;
    text-align: center;
    color: $white;
    line-height: 93px;
    @media (max-width: 575px) {
        line-height: 32px;
        padding-bottom: 20px;
    }
  }
  .button-col{
    padding-top: 10px;
  }
}
