html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-font-smoothing:antialiased !important;
}
@media (min-width: 1440px) {
	.container { max-width: 1320px; }
} 
a:-webkit-any-link{
  color: none;
}
a:active, a:link, a:active{
  background-color: none !important;
  color: none !important;
  border: none !important;
}

.section{
  position: relative;
  width: 100%;
  margin: 60px 0;
  padding: 60px 0;
  background-color: #F9F9F9;
  overflow: hidden;
}
 
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: $body-bg !important;
  -webkit-font-smoothing:antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
h3, h2{
  font-weight: 600;
  color: #414141;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.4em;
}
h1{
  font-size: 2.5em;
  font-weight: bold;
}
p{
  font-size: 14px;
  color: #131313;
}
.primary-button{
  min-width: 250px;
  padding: 30px 40px;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.6px;
  font-weight: bold;
}
.primary-button:hover{
  color: $white;
}
.btn-red{
  background-color: $red !important;
  color: $white !important;
  border: 2px solid $red !important;
  border-radius: 3px !important;
}
.btn-red:hover{
  background-color: $white !important;
  color: $red !important;
}
.btn-blue{
  background-color: $blue !important;
  color: $white !important;
  border: 2px solid $blue !important;
  border-radius: 3px !important;
}
.btn-blue:hover{
  background-color: $white !important;
  color: $blue !important;
}

.secondary-button{
  min-width: 250px;
  padding: 30px 40px;
  background-color: #fff;
  color: $red;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.6px;
  font-weight: 700;
  border: 3px solid $red;
}
.secondary-button:hover{
  background-color: $red;
  color: $white;
  text-decoration: none;
}
main{
  padding-top: 95px;
  min-height: calc(100vh - 110px - 150px);
}
.about-list li{
  font-size: 18px;
}
.contact-sidebar i{
  font-size: 18px;
}
.contact-sidebar a{
  font-size: 18px;
}
.btn-freelance{
  background-color: $custom-red !important;
  font-size: 18px !important;
  color: #fff !important;
  padding: 10px 20px !important;
}
.btn-freelance:hover{
  background-color: $custom-blue !important;
  color: #fff !important;
}
.quicksearch{
  background-color: #d1d1d1;
}
.btn-quicksearch{
  background-color: $custom-red !important;
  border-radius: 0px !important;
  font-size: 18px !important;
  color: #fff !important;
  padding: 5px 20px !important;
}
.btn-quicksearch:hover{
  background-color: $custom-blue !important;
  color: #fff !important;
}
// .custom-select{
//   font-size: 18px !important;
//   width: 400px !important;
//   margin-right: 10px;
// }
.looking-search h2{
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}
.looking-search{
  background-color: $custom-blue;
}
.inline-btn{
  display: inline-block;
}
.btn-looking{
  background-color: $custom-red !important;
  border-radius: 0px !important;
  font-size: 18px !important;
  color: #fff !important;
  padding: 15px 25px !important;
}
.btn-looking:hover{
  color: #333 !important;
  text-decoration: none;
}
#go-to-top{
  // display: none;
}
#go-to-top i{
  position: fixed;
  bottom: 20px;
  padding: 10px;
  font-size: 28px;
  border-radius: 10px;
  // border: 2px solid $cme-white;
  right: 20px;
  background-color: #333;
  color: #fff;
  z-index: 93;
}
#go-to-top i:hover{
  background-color: $custom-red;
}
.make-form-top{
  background-color: #ededed;
}
.custom-btn-red{
  background-color: $custom-red !important;
  color: #fff !important;
  font-size: 18px !important;
}
.custom-btn-red:hover{
  background-color: $custom-blue !important;
}
.terms-check{
  font-size: 18px;
}
.terms-checkbox{
  width: 20px;
  height: 20px;
}
.pointer-cursor{
  cursor: pointer;
}
.text-red{
  color: $custom-red !important;
}
.text-light-front{
  color: #d8d8d8 !important;
}
.f-18{
  font-size: 18px;
}
.bg-blue{
  background-color: $custom-blue !important;
}
#suggestionBox{
  font-size: 16px;
  font-weight: bold;
}
#suggestionBox:hover{
  cursor: pointer;
}
.suggestion-box-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10000;
  .suggestion-box{
    // min-width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    label{
      font-size: 16px;
    }
    input[type=text], input[type=email]{
      border: none;
      border-bottom: 1px solid #aeaeae;
      // color: #aeaeae;
      background: none;
      border-radius: 0;
      margin: 0;
      outline: none !important;
      display: block;
      height: 35px;
      width: 100%;
      padding-left: 5px;
      padding-bottom: 8px;
      font-size: 16px;
    }
    textarea{
      width: 100%;
      border: none;
      border-bottom: 1px solid #aeaeae;
      outline: none !important;
      font-size: 16px;
      height: 100px;
      margin-bottom: 20px;
    }
    .star-rating{
      font-size: 32px;
      color: #aeaeae;
    }
    // .star-rating:hover{
    //   color: $custom-blue !important;
    // }
  }
}
.text-blue{
  color: $custom-blue !important;
}
.profile_pic{
  position: absolute;
  z-index: 900;
  // border: 2px solid black;
  margin-top: -60px;
  margin-left: 50%;
  transform: translateX(-50%);
  img{
    border: 8px solid #fff;
  }
}
@media (min-width: 768px) {
  .profile_pic{
    position: inherit;
    z-index: 900;
    transform: none;
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 60px;
    img{
      border: 8px solid #fff;
    }
  }

 }

.contact_basics_form{
  position: absolute;
  z-index: 9999;
  height: 400px;
  width: 500px;
  background-color: $red;

}


#profileIndustry{
  z-index: 999;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  .modal-body{
    top: 50%;
    transform: translateY(-50%);
  }
}
.cover_photo_image{
  height: 360px;
  width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.user_details{
  // margin-left: 380px;
  margin-top: 245px;
  padding: 0px 24px;
}
.user_skills{
  // margin-left: 365px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .user_details{
    margin-left: 30px;
    margin-top: 25px;
  }
  .user_skills{
    margin-left: 365px;
    margin-top: 10px;
  }
 }
.skill-tags{
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
}
.profile_details{
  min-height: 280px;
}
.profile_contact_info{
  td{
    // padding-left: 0px;
  }
  td:first-child{
    max-width: 140px !important;
    // border-right: 1px solid #dee2e6;
  }
  i{
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .profile_contact_info{
    td{
      // padding-left: 0px;
    }
    td:first-child{
      width: 400px;
      max-width: 400px !important;
      // border-right: 1px solid #dee2e6;
    }
    i{
      font-size: 20px;
    }
  }


 }
.contact_user,.profile_about{
  i{
    font-size: 20px;
  }
}
.alert-badge-custom{
  top: -5px;
  position: absolute;
  margin-left: -6px;
}
.msg-badge-custom{
  top: 20px;
  position: absolute;
  margin-left: 10px;
}
.subs-plan-btn{
  display: block;
  margin-bottom: 5px;
  // padding: 5px;
  border-radius: 10px;
  // border: 1px solid lightgrey;
  // border-top: 2px solid $dark-grey;
  // border-bottom: 2px solid $dark-grey;
}
.subs-plan-btn:hover{
  background-color: $blue;
  color: #fff;
}
.pointer-cursor{
  cursor: pointer;
}
.tags-container{
    border-bottom: 1px solid #aeaeae;
    min-height: 45px;
  border-radius: 0;
  .tag{
    font-size: 75%;
    font-weight: bold;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.1)!important;
    padding: 0.5em 12px;
    margin: 0.25em 0.2em;
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 8px;
    cursor: pointer;
    .close-btn::after{
      content: "x";
      color: #666;
      display: inline-block;
      transform: scale(1.1);
      font-weight: bold;
      margin-left: 0.75em;
    }
    .close-btn:hover::after{
      color: #000;
    }
  }
  .tag:hover{
    // background-color: $red;
  }
  .main-input{
    padding: 0.25em 0.1em;
    outline: none !important;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ced4da;
  }
}

.profile_about, .profile_showcase, .profile_contact_info, .profile_portfolio{
  // padding: 20px 60px;
  p{
    line-height: 34px;
  }
}
.profile_showcase_get_started:first-child{
  // margin-right: 24px;
}
.profile_showcase_get_started:nth-child(2){
  // margin-right: 24px;
  // margin-left: 24px;
}
.profile_showcase_get_started:last-child{
  // margin-left: 24px;
}
@media (min-width: 768px) {

  .profile_showcase_get_started:first-child{
    margin-right: 24px;
  }
  .profile_showcase_get_started:nth-child(2){
    margin-right: 24px;
    margin-left: 24px;
  }
  .profile_showcase_get_started:last-child{
    margin-left: 24px;
  }
  .profile_about, .profile_showcase, .profile_contact_info, .profile_portfolio{
    padding: 20px 60px;
    // p{
    //   line-height: 34px;
    // }
  }
 }
.join-global-co{
  background-color: #414141;
  height: 184px;
  .col-8{
    height: 185px;
  }
  h2{
    font-size: 25px;
    color: #fff;
  }
  .cta-btn{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 21px 71px;
  }
}
.freelancer-cards:hover{
  text-decoration: none;
}
.freelance_photo{
  opacity: 0.2;
}
.freelancer-row:hover{
  background-color: #F2F2F2;
  .freelance_photo{
    opacity: 0 !important;
  }
}
.hover {
  cursor: pointer !important;
}
.focus_bottom_border{
  border-bottom: 1px solid darken(#d1edf6, 40%) !important;
  -webkit-box-shadow: 0 3px 6px -6px darken(#d1edf6, 40%) !important;
  -moz-box-shadow: 0 3px 6px -6px darken(#d1edf6, 40%) !important;
  box-shadow: 0 3px 6px -6px darken(#d1edf6, 40%) !important;
} 

button:active{
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.text-underline{
  text-decoration: underline !important;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}
.btn-grey{
  background-color: $dark-grey !important;
}
.fs-24{
  font-size: 24px !important;
}
.fs-20{
  font-size: 20px !important;
}
.heading-block {
  margin-bottom: 50px;
}
.center {
  text-align: center !important;
}
.topmargin-sm {
  margin-top: 2rem !important;
}
.bottommargin {
  margin-bottom: 3rem !important;
}
.team, .team-image {
  position: relative;
}
:active, :focus {
  outline: none !important;
}
.team-image > a, .team-image img {
    display: block;
    width: 100%;
}




