.footer-main{
  background-color: #f0ecec;
  // padding: 40px 50px 30px 50px;
  h4{
    color: $dark;
    font-weight: 600;
    font-size: 16px;
  }
  li{
    list-style: none;
    line-height: 32px;
  }
  li a{
    color: $dark;
    font-weight: 600;
    font-size: 16px;
  }
  .social-icons-section{
    img{
      margin-top: 20px;
      height: 40px;
      margin-right: 20px;
    }
  }
  .footer-image{
    height: 200px;
  }
}


.footer-bottom{
  padding: 20px 50px;
  background-color: $red;
    h4{
      font-size: 16px;
      color: $white !important;
      margin-bottom: 0px;
    }

}
