/* form styles */
#msform{
  /* width: 400px; */
  margin: 0px auto;
  padding-top: 100px;
  text-align: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(255,255,255, 1);
  background-color: #666;
  /* transform: translateX(-50%); */
  display: none;
}
#msform fieldset{
  background: #fff;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 12px 1px rgba(0,0,0,0.4);
  padding: 20px 30px 50px 30px;
  z-index: 9999;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* headings */
.fs-title{
  font-size: 32px;
  /* text-transform: uppercase; */
  color: #202020;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.a-left{
  text-align: left;
}
.f-right{
  /* float: right; */
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
}
.fs-subtitle{
  font-weight: normal;
  font-size: 16px;
  color: #666;
  // margin-bottom: 30px;
}

/* progressbar */
#progressbar{
  margin-bottom: 30px;
  overflow: hidden;
}

#progressbar li{
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
}


/* hide all except first fieldset */
#msform fieldset:not(:first-of-type){
  /* display: none; */
}
#msform input{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  margin: 5px auto 10px auto;
  width: 100%;
  box-sizing: border-box;
}

#msform label{
  margin-top: 20px;
  display: block;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#msform button{
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  background-color: #fff;
  border-radius: 3px;
  /* font-weight: bold; */
  box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.4);
}
.tos-left{
  font-size: 12px;
  font-weight: bold;
  display: inline;
  /* position: fixed; */
  left:0px;
  margin-left: 0px;
  width: 50%;
  /* background-color: royalblue; */
  text-align: left;
  float: left;
}
.tos-right{
  font-size: 12px;
  font-weight: bold;
  display: inline;
  /* background-color: green; */
  width: 50% !important;
  float: right;
}
#msform a{
  text-decoration: none;
  font-weight: bold;
  color: royalblue;
}
.fs-bottom{
  /* border: 1px solid #333; */
  /* margin: 5px -15px 5px -15px !important; */
  /* position: absolute; */
}
.fs-button{
  font-weight: bold;
  color: #666;
}
.fs-button:hover{
  background-color: royalblue;
  color: #fff;
}
.fs-next{
  display: none;
}
#fs-step1 button:hover{
  background-color: royalblue;
  color: #fff;
}
.fs-check-button {
  padding: 15px 30px;
  z-index: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
  margin-bottom: 50px;
  font-size: 18px;
  color: #202020 !important;
  /* box-sizing: er-box; */
}
.fs-check-button:hover{
  background-color: royalblue;
  color: #fff !important;
}
