.freelance-platform{
  padding: 50px 0px 30px 0px;
  text-align: center;
  .stats-row{
    padding: 50px 0px;
    h2{
      font-size: 95px;
      color: $red;
      font-weight: 300;
      margin-bottom: 30px;
    }
    h4{
      font-size: 16px;
      color: $dark;
    }

  }
}
