.frontpagefreelancers {
    padding: 80px 0;

    h2 {
        font-size: 45px;
        font-weight: bold;
        @media (max-width: 575px) {
            font-size: 38px;
        }
    }

    .freelancer-header {
        padding-bottom: 50px;
    }

    .profile-pic {
        height: 50px;
        border-radius: 60px;
    }

    .card-body {
        p {
            margin-bottom: 5px;
        }

        .freelancer-profile-body {
            color: #aeaeae;
        }
    }

    .card {
        border: 0;
    }

    .cards-row {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0;
        width: 100% !important;
        @media (min-width: 576px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media (max-width: 575px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .freelance-bottom {
        position: relative;
        padding-top: 30px;
        height: 100px;
        // border: 1px solid #000;
        hr {
            border-top: 2px solid #aeaeae;
        }

        .freelance-bottom-button {
            @media (min-width: 768px) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            // transform: translateX(-50%);
        }
    }
}
