.login-screen{
    p{
      font-size: 16px !important;
    }

  input[name=email] {
    border: none;
    border-bottom: 1px solid #aeaeae;
    background: none;
    border-radius: 0;
    margin: 15px 0;
    // outline: none !important;
    display: block;
    height: 28px;
    width: 100%;
    padding-left: 32px;
    padding-bottom: 4px;
    font-size: 16px;
    background-image: url("/img/icons/envelope-icon.png");
    background-repeat: no-repeat;
    background-position: 0 5px;
    outline-color: none;
  }
  input[name=password] {
    border: none;
    border-bottom: 1px solid #aeaeae;
    background: none;
    border-radius: 0;
    margin: 15px 0;
    // outline: none !important;
    display: block;
    height: 28px;
    width: 100%;
    padding-left: 32px;
    padding-bottom: 4px;
    font-size: 16px;
    background-image: url("/img/icons/lock-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
    // outline-color: none !important;
  }
  input:focus {
    background-color: transparent;
    // border: 0 !important;
    outline: none !important;
  }
}
*:focus{
  outline: 0;
  box-shadow: 0;
  border-bottom: 1px solid darken(#d1edf6, 40%);
  outline-color: transparent;
}

@media (min-width: 768px) {
  .login-screen, .verify-screen{
    padding: 100px 0px 50px 0px;
    .card{
      border-radius: 0px;
      border: 0px;
    }
  }
}

a:hover{
  text-decoration: none !important;
}
