#top-navbar{
  z-index: 1000;
  // position: fixed;
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 84px;
  padding-right: 50px !important;
  // border-bottom: 6px solid $custom-blue;
}
.brand-logo{
  height: 160px;
  top: 5px;
  // left: 42px;
  position: absolute;
}
.top-menu-left{
  margin-right: 20px;
  li{
    margin-right: 30px;
  }
  a{
    padding: 0px !important;
  }
}
.nav-link{
  // color: #000 !important;
  font-size: 14px;
  color: #131313 !important;
}
.nav-link:hover{
  color: $red !important;
}
.top-btn{
  background-color: $custom-red;
  text-transform: uppercase;
  color: #fff !important;
  border-radius: 3px;
}
.top-btn:hover{
  background-color: $custom-blue;
  color: #fff !important;
  text-decoration: none;
}
