.price-table-main h2{
  // font-size: 24px;
  font-weight: bold;
}
.price-table-head{
  background-color: $custom-blue;
  color: #fff;
}
.price-table-body{
  background-color: #ededed;
  min-height: 180px;
}
.price-table-body h2{
  font-size: 34px;
  color: $custom-blue;
  margin: 0px !important;
  padding: 0px;
}
.price-table-body p{
  font-size: 14px;
  font-weight: bold;
  color: $custom-blue;
}
.price-table-footer{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.price-table-secondary{
  transition: transform .2s; /* Animation */
  margin-top: 40px;
}
.price-table-secondary:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.price-table-primary{
  transition: transform .2s; /* Animation */
}
.price-table-primary:hover{
  transform: scale(1.1);
  cursor: pointer;
}
