.register-finder{
  background-image: url("/img/register/register-finder.jpg");
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-freelancer{
  background-image: url("/img/register/register-freelancer.jpg");
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-co-working{
  background-image: url("/img/register/register-co-working.jpg");
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
.finder-hover{
  position: absolute;
  height: 800px !important;
  width: 100% !important;
  z-index: 100;
}
.finder-hover:hover{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.freelancer-hover{
  position: absolute;
  height: 800px !important;
  width: 100% !important;
  z-index: 100;
}
.freelancer-hover:hover{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.co-working-hover{
  position: absolute;
  height: 800px !important;
  width: 100% !important;
  z-index: 100;
}
.co-working-hover:hover{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.register-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 101;
  p{
    color: #fff !important;

  }
  h4{
    color: #fff !important;
    font-size: 1.45rem;
  }
  img{
    margin-left: 20px;
    margin-top: 8px;
    height: 15px;
  }
}
.register-form-container{
  height: 800px;
}
.register-form{
  position: absolute;
  top: 50%;
  width: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  .btn-red{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p{
    font-size: 16px;
    margin-bottom: 50px;
  }
  input{
    border: none;
    border-bottom: 1px solid #aeaeae;
    // color: #aeaeae;
    background: none;
    border-radius: 0;
    margin: 25px 0px;
    outline: none !important;
    display: block;
    height: 35px;
    width: 100%;
    padding-left: 35px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  input:focus{
    outline: none !important;
  }
  input[name=name]{
    background-image: url('/img/register/name-icon.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
  }
  input[name=email]{
    background-image: url('/img/register/email-icon.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
  }
  input[name=password], input[name=password_confirmation]{
    background-image: url('/img/register/password-icon.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
  }
}
.register-form-right{
  background-image: url("/img/register/register-form-right.jpg");
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.verify-form-container{
  height: 800px;
}
.verify-form{
  position: absolute;
  top: 50%;
  width: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  p{
    font-size: 16px;
    margin-bottom: 50px;
  }
  .btn-red{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.verify-form-right{
  background-image: url("/img/register/register-form-right.jpg");
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (max-width: 767px) {
  .register-finder{
    min-height: 200px;
  }
  .register-freelancer{
    min-height: 200px;
  }
  .register-co-working{
    min-height: 200px;
  }
  .finder-hover{
    height: 200px !important;
  }
  .freelancer-hover{
    height: 200px !important;
  }
  .co-working-hover{
    height: 200px !important;
  }
}

