#testimonial-slider {
    padding: 100px;
    .carousel-item{
      img{
        height: 100px;
        border-radius: 100px;
        -moz-box-shadow: 3px 3px 5px #999;
	  	  -webkit-box-shadow: 3px 3px 5px #999;
	    	box-shadow: 3px 3px 5px #999;
      }
      p{
        margin-top: 15px;
        font-weight: bold;
        color: $dark;
        font-size: 16px;
      }
    }
    .slider-quote{
      margin-bottom: 60px;
      h3{
        font-size: 35px;
        color: $dark;
        font-weight: 300;
      }
    }
    .slider-control{
      height: 100px;
    }
    .carousel-control-prev{
      top: 50%;
    }
    .carousel-control-next{
      top: 50%;
    }
}
