// Body
$body-bg: #f8f8f8;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-grey: #414141;
$light-grey: #aeaeae;
$dark: #131313;
$red: #ff5656;
$white: #ffffff;
$blue: #66c3e1;


$custom-blue: rgb(0,173,239);
$custom-red: #f15942;
