



$red: #FF5656;
$blue: #66c3e1;
$dark-grey: #414141;

@import "dashboard/userregister";
html, body{
  overflow-x: hidden;
  background-color: #f8f8f8;

}
.bg-red{
  background-color: $red !important;
}
.bg-blue{
  background-color: $blue !important;
}
.text-red{
  color: $red !important;
}
.text-lightgrey{
  color: #AEAEAE !important;
}
.btn-icon{
  color: #AEAEAE !important;
}
.blue-hover:hover{
  color: $blue !important;
}
.ls-25{
  letter-spacing: 2.5px !important;
}
.font-20{
  font-size: 20px;
}
.fs-24{
  font-size: 24px;
}
.font-48{
  font-size: 48px;
}
.btn-red{
  background-color: $red !important;
  color: #fff !important;
  border: 2px solid $red !important;
  border-radius: 3px !important;
}
.btn-red:hover{
  background-color: #fff !important;
  color: $red !important;
}
.btn-blue{
  background-color: $blue !important;
  color: #fff !important;
  border: 2px solid $blue !important;
  border-radius: 0px !important;
}
.btn-blue:hover{
  background-color: #fff !important;
  color: $blue !important;
}
#admin-navbar{
  background-color: #fff;
  .container-fluid{
    // padding: 0px 100px;
  }
  .admin-logo{
    img{
      height: 80px !important;
    }
  }
}
.msg-sidebar-body a:hover, .pointer{
  cursor: pointer;
}
#messagePanel{
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  display:none;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100%;
  height: 100%;
  .close-btn{
    font-size: 32px;
    margin-right: 30px;

  }
}
.w-10{
  width: 10% !important;
}
.profile-sidebar {
  ul{
    padding-left: 10px;
  }
  li{
  list-style: none;
  a{
    color: #fff;
  }
  }
}
.profile_cover_hover{
  position: absolute;
  height: 360px;
  width: 1440px;
  // background-color: rgba(0,0,0, 0.1);
  top: 0;
}
.profile_photo_hover{
  position: absolute;
  height: 275px + 8px + 8px;
  width: 275px + 8px + 8px;
  top: 0;
  // background-color: rgba(0,0,0, 0.1);
}
.cover_photo_update{
  position: absolute;
  top: 10%;
  right: 5%;
  // transform: translate(-50%, -50%);
  i{
    font-size: 40px;
    color: #fff;
    box-sizing: border-box;
  }
}
.cover_photo_update:hover{
  i{
    color: $blue !important;
  }
}
.profile_photo_update{
  position: absolute;
  top: 10%;
  right: 10%;
  // transform: translate(-50%, -50%);
  i{
    font-size: 40px;
    color: #fff;
    box-sizing: border-box;
  }
}
.profile_photo_update:hover{
  i{
    color: $blue !important;
  }
}
.profile_photo_image{
  max-width: 275px;
}
.profile_showcase_get_started{
  min-height: 400px;
  background-color: transparent;
  border: 2px dashed #AEAEAE;
  button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.profile_about, .profile_showcase, .profile_contact_info, .profile_portfolio{
  // padding: 20px 60px;
  p{
    line-height: 34px;
  }
}
.profile_showcase_get_started:first-child{
  // margin-right: 24px;
}
.profile_showcase_get_started:nth-child(2){
  // margin-right: 24px;
  // margin-left: 24px;
}
.profile_showcase_get_started:last-child{
  // margin-left: 24px;
}
@media (min-width: 768px) {

  .profile_showcase_get_started:first-child{
    margin-right: 24px;
  }
  .profile_showcase_get_started:nth-child(2){
    margin-right: 24px;
    margin-left: 24px;
  }
  .profile_showcase_get_started:last-child{
    margin-left: 24px;
  }
  .profile_about, .profile_showcase, .profile_contact_info, .profile_portfolio{
    padding: 20px 60px;
    // p{
    //   line-height: 34px;
    // }
  }
 }
.add_showcase, .add_profile_photo, .add_profile_cover, .edit_about, .edit_contact, .edit_skills{
  position: fixed;
  overflow-y:hidden;
  z-index: 999;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left:0;
  .card{
    top: 50%;
    transform: translateY(-50%);
  }
}
.edit_about{
  textarea {
      border: none;
      border-bottom: 1px solid #aeaeae;
      background-color: transparent;
      height: 200px;
  }

  textarea:active,
  textarea:focus {
      // background-color: #fff;
      outline: none !important;
  }
}
.edit_contact{
  input {
    border: none;
    border-bottom: 1px solid #aeaeae;
    background: none;
    border-radius: 0;
    // margin: 15px 0;
    outline: none !important;
    display: block;
    height: 28px;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    // background-image: url("/img/palette-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
  }
  input:focus {
      background-color: transparent;
      outline: none !important;
  }
  td:first-child{
    width: 150px;
    // border-right: 1px solid #dee2e6;
  }
}
.edit_skills{
  select {
      display: block;
      border: none;
      border-bottom: 1px solid #aeaeae;
      min-height: 45px;
      width: 100%;
      background: transparent;
      background-image: url("/img/register/name-icon.png");
      background-repeat: no-repeat;
      background-position: 0 10px;
      padding-left: 35px;
      padding-bottom: 2px;
  }

  select:focus {
      outline: none !important;
  }
}
.add_showcase{
  input:focus {
      background-color: transparent;
      outline: none !important;
  }
  input[name="video-url"] {
      border: none;
      outline: none !important;
      background-color: transparent;
      border-bottom: 1px solid #aeaeae;
      padding-left: 38px;
      padding-bottom: 8px;
      display: block;
      background-image: url("/img/youtube-icon.png");
      background-repeat: no-repeat;
      background-position: 0 4px;
  }

  input[name=showcase_title], input[name=showcase_desc] {
    border: none;
    border-bottom: 1px solid #aeaeae;
    background: none;
    border-radius: 0;
    margin: 15px 0;
    outline: none !important;
    display: block;
    height: 28px;
    width: 100%;
    padding-left: 35px;
    padding-bottom: 8px;
    font-size: 16px;
    background-image: url("/img/palette-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
  }
  textarea {
      display: block;
      margin-top: 15px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #aeaeae;
      background-color: transparent;
      //height: 50px;
  }

  textarea:active,
  textarea:focus {
      // background-color: #fff;
      outline: none !important;
  }
}
.profile_pic{
  position: absolute;
  z-index: 900;
  // border: 2px solid black;
  margin-top: -60px;
  margin-left: 50%;
  transform: translateX(-50%);
  img{
    border: 8px solid #fff;
  }
}
@media (min-width: 768px) {
  .profile_pic{
    position: absolute;
    z-index: 900;
    transform: none;
    margin-top: -60px;
    margin-left: 60px;
    img{
      border: 8px solid #fff;
    }
  }

 }

.contact_basics_form{
  position: absolute;
  z-index: 9999;
  height: 400px;
  width: 500px;
  background-color: $red;

}
#profileIndustry{
  z-index: 999;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  .modal-body{
    top: 50%;
    transform: translateY(-50%);
  }
}
.cover_photo_image{
  height: 360px;
  width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.user_details{
  // margin-left: 380px;
  margin-top: 245px;
  padding: 0px 24px;
}
.user_skills{
  // margin-left: 365px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .user_details{
    margin-left: 380px;
    margin-top: 25px;
  }
  .user_skills{
    margin-left: 365px;
    margin-top: 10px;
  }
 }
.skill-tags{
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
}
.profile_details{
  min-height: 280px;
}
.profile_contact_info{
  td{
    // padding-left: 0px;
  }
  td:first-child{
    max-width: 140px !important;
    // border-right: 1px solid #dee2e6;
  }
  i{
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .profile_contact_info{
    td{
      // padding-left: 0px;
    }
    td:first-child{
      width: 400px;
      max-width: 400px !important;
      // border-right: 1px solid #dee2e6;
    }
    i{
      font-size: 20px;
    }
  }


 }
.contact_user,.profile_about{
  i{
    font-size: 20px;
  }
}
.alert-badge-custom{
  top: -5px;
  position: absolute;
  margin-left: -6px;
}
.msg-badge-custom{
  top: 25px;
  position: absolute;
  margin-left: 10px;
}
.subs-plan-btn{
  display: block;
  margin-bottom: 5px;
  // padding: 5px;
  border-radius: 10px;
  // border: 1px solid lightgrey;
  // border-top: 2px solid $dark-grey;
  // border-bottom: 2px solid $dark-grey;
}
.subs-plan-btn:hover{
  background-color: $blue;
  color: #fff;
}
.pointer-cursor{
  cursor: pointer;
}
.tags-container{
    border-bottom: 1px solid #aeaeae;
    min-height: 45px;
  border-radius: 0;
  .tag{
    font-size: 75%;
    font-weight: bold;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.1)!important;
    padding: 0.5em 12px;
    margin: 0.25em 0.2em;
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 8px;
    cursor: pointer;
    .close-btn::after{
      content: "x";
      color: #666;
      display: inline-block;
      transform: scale(1.1);
      font-weight: bold;
      margin-left: 0.75em;
    }
    .close-btn:hover::after{
      color: #000;
    }
  }
  .tag:hover{
    // background-color: $red;
  }
  .main-input{
    padding: 0.25em 0.1em;
    outline: none !important;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ced4da;
  }
}
.new-voucher-container{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0, 0.4);
  z-index: 10000;
  .new-voucher-form{
    position: absolute;
    width: 40%;
    // border-radius: 10px;
    // background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .vouchers{
      #output{
        font-family: monospace;
        font-size: 44px;
      }
    }
  }
}
.tag-items{
  border-radius: 20px;
}
.show_case_block{
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;


  text-align:center;
  padding:10px;
  margin-bottom:20px;
  // border: 3px dashed #ced4da;
}
.show_case_block:before{
  content: "";
  position: absolute;
  border: 10px dashed #ced4da;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
}
.show_case_add_btn{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  background-color: $red;
  transform: translate(-50%, -50%);
  i{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.show_case_add_btn:hover{
  background-color: $blue;
}
#cover_croppie{
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // z-index: 900;

}
.drop-photo{
  border: 2px dashed #AEAEAE;
  width: 100%;
  min-height: 160px;
  text-align: center;
  position: relative;
}
.drop-photo-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.msg-sidebar, .msg-section, .message-panel{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.msg-sidebar{
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
.msg-section{
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
}
.message-panel{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.brief_post{
  textarea {
      border: none;
      border-bottom: 1px solid #aeaeae;
      // border: 1px solid $blue;
      // border-radius: 5px;
      // padding: 15px;
      background-color: transparent;
  }

  textarea:active,
  textarea:focus {
      // background-color: #fff;
      outline: none !important;
  }

  input:focus {
      background-color: transparent;
      outline: none !important;
  }

  input {
      border: none;
      outline: none !important;
      background-color: transparent;
      border-bottom: 1px solid #aeaeae;
      padding-left: 5px;
  }
  select {
      display: block;
      border: none;
      border-bottom: 1px solid #aeaeae;
      min-height: 45px;
      width: 100%;
      background: transparent;
      // background-image: url("/img/icons/building-icon.png");
      border-radius: 0px !important;
      background-repeat: no-repeat;
      background-position: 0 10px;
      padding-left: 35px;
      padding-bottom: 2px;
  }

  select:focus {
      outline: none !important;
  }
  .fake-input{
    height: 27px;
    border-bottom: 1px solid #aeaeae;
    display: block;
    width: 100%;
  }
  .gj-datepicker-bootstrap [role=right-icon] button{
    border: 0 !important;
  }
  .form-control{
    border-radius: 0px !important;
    padding-left: 5px;
  }
  .btn-drag-n-drop{
    width: 500px;
    padding-top: 20px;
    height: 100px;
    background-color: transparent;
    border: 3px dashed #aeaeae;
  }
  .btn-drag-n-drop:hover{
    cursor: pointer;
  }
  input[type="text"]#budget-letter{
    -webkit-appearance:none!important;
    color:black;
    font-weight: bold;
    text-align:left;
    width:20px;
    border: none;
    border-bottom: 1px solid #aeaeae;
    margin:0;
    background: transparent;
}
input[type="number"]#budget{
    -webkit-appearance:none!important;
    border: none;
    margin-left: -5px;
    padding-left: 5px;
    width: 300px;
    border-bottom: 1px solid #aeaeae;
    outline:none;
}
}
.badge-red{
  background-color: $red;
  color: #fff;
}


textarea {
    border: none;
    border-bottom: 1px solid #aeaeae;
    // border: 1px solid $blue;
    // border-radius: 5px;
    // padding: 15px;
    background-color: transparent;
}

textarea:active,
textarea:focus {
    // background-color: #fff;
    outline: none !important;
}

input:focus {
    background-color: transparent;
    outline: none !important;
}

input {
    border: none;
    outline: none !important;
    background-color: transparent;
    border-bottom: 1px solid #aeaeae;
    padding-left: 5px;
}
select {
    display: block;
    border: none;
    border-bottom: 1px solid #aeaeae;
    min-height: 45px;
    width: 100%;
    // background: transparent;
    // background-image: url("/img/icons/building-icon.png");
    // background-repeat: no-repeat;
    // background-position: 0 10px;
    // padding-left: 35px;
    padding-bottom: 2px;
}

select:focus {
    outline: none !important;
}
.freelancer-cards:hover{
  text-decoration: none;
}
.freelancer-row:hover{
  background-color: #F2F2F2;
}
.hover {
  cursor: pointer !important;
}
.text-underline{
  text-decoration: underline !important;
}
.card-hover-border:hover{
  border: 3px solid $red !important;
}
.card-hover-border{
  border: 3px solid #F2F2F2 !important;
}
.tooltip-inner {
  font-size: 14px;
}

// @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
