<template>
    <div class="col-md-2">
        <div class="accordion" id="accordionExample">
            <div class="card border-0">
                <div class="card-header border-0 bg-white text-dark">
                    <h4 class="font-weight-bold">Filter by</h4>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-white" id="headingOne">
                    <p class="mb-0">
                        <a
                            class="text-dark font-weight-bold d-block"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                        >
                            Industry23
                            <span class="float-right"
                                ><i class="fas fa-minus"></i
                            ></span>
                        </a>
                    </p>
                </div>

                <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="font-weight-bold">All Industries1</p>
                        <ul class="mt-3 pl-0">
                            <!-- @foreach ($industries as $industry) -->
                            <!-- <li class="mb-2" style="list-style-type: none" v-for="industry in industries">
                                    <a href="api/freelancers/by/industry/{{ industry->name }}" class="text-dark">{{ $industry->name }}</a>
                                </!-->
                            -->
                            <!-- @endforeach -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-white" id="headingTwo">
                    <p class="mb-0">
                        <a
                            class="d-block collapsed text-dark font-weight-bold"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >
                            Sub Industry
                            <span class="float-right"
                                ><i class="fas fa-plus"></i
                            ></span>
                        </a>
                    </p>
                </div>
                <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="font-weight-bold">All Sub Industries</p>
                        <div class="mt-3 pl-0">
                            <form class="form-inline my-2 my-lg-0">
                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Search"
                                        aria-label="Recipient's username"
                                        aria-describedby="button-addon2"
                                    />
                                    <div class="input-group-append">
                                        <button
                                            class="btn btn-red py-0"
                                            type="button"
                                            id="button-addon2"
                                        >
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- @foreach ($subindustries as $subindustry)
                          <li class="mb-2" style="list-style-type: none"><a href="api/freelancers/by/subindustry/{{ $subindustry->name }}" class="text-dark">{{ $subindustry->name }}</a></li>
                                @endforeach -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-white" id="headingThree">
                    <p class="mb-0">
                        <a
                            class="d-block collapsed text-dark font-weight-bold"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            Find by skill
                            <span class="float-right"
                                ><i class="fas fa-plus"></i
                            ></span>
                        </a>
                    </p>
                </div>
                <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="input-group mb-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Search"
                                    aria-label="Recipient's username"
                                    aria-describedby="button-addon2"
                                />
                                <div class="input-group-append">
                                    <button
                                        class="btn btn-red py-0"
                                        type="button"
                                        id="button-addon2"
                                    >
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped></style>

<script>
export default {
    name: "FreelanceFilter",
    data() {
        return {
            industries: [
                {
                    id: 1,
                    name: "Digital Marketing"
                },
                {
                    id: 2,
                    name: "Graphic and Design"
                },
                {
                    id: 3,
                    name: "Writing & Translation"
                }
            ],
            subindustries: [
                {
                    id: 1,
                    name: "Sub Industries 1"
                },
                {
                    id: 2,
                    name: "Sub Industries 2"
                },
                {
                    id: 3,
                    name: "Sub Industries 3"
                }
            ],
            skills: [
                {
                    id: 1,
                    name: "php"
                },
                {
                    id: 2,
                    name: "javascript"
                }
            ],
            cities: [
                {
                    id: 1,
                    name: "Cape Town"
                },
                {
                    id: 2,
                    name: "Tokai"
                }
            ]
        };
    }
};
</script>
