<template>
  <div class="row">
    <div v-for="freelancer in freelancers" class="col-lg-3 col-md-4 col-sm-6 mh-100">
      <a v-bind:href="'/freelancer/'+ freelancer.id">
      <div class="card border-0 shadow-sm mb-3 mh-100">
        <div class="row mb-4">
          <div class="col text-center">
            <div class="p-2">
              <img v-bind:src="freelancer.profile.profile_pic" />
            </div>
            <!-- <img src="/img/FCPT_Logo.png" class="w-100 h-100" alt=""> -->
          </div>
        </div>
        <div class="row">
          <div class="col px-5">
            <h4 class="font-weight-bold mb-1">{{ freelancer.name }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col px-5">
            <p class="mb-1"></p>
          </div>
        </div>
        <div class="row">
          <div class="col px-5">
            <span v-for="sub_industry in freelancer.subindustry" class="mr-3 text-muted">{{sub_industry.sub_industry_name}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col px-5 pb-4">
            <span v-for="skill in freelancer.tag" class="mr-3 text-muted">{{skill.name}}</span>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Freelancers',
  props: ["freelancers"]
}
</script>

<style scoped>
  a{
    text-decoration: none;
  }
  img{
    width: 100%;
  }
  .mh-100{
    min-height: 100% !important;
  }
</style>
