<template lang="html">
  <div id="app" class="p-5">
    <h1 class="text-center mb-4">Top Freelancers!</h1>
    <Freelancers-list v-bind:freelancers="freelancers"/>
  </div>
</template>

<script>
export default {
  name: "app",
  components:{
    Freelancers
  },
  data() {
    return {
      freelancers: [
        {
          id: 2,
          photo: "",
          fullname: "Lana Rautenbach",
          industry: "Industry",
          sub_industry: ["Sub1","Sub2","Sub3"],
          skills: ["php", "css", "data-capture"]
        },
        {
          id: 3,
          photo: "",
          fullname: "Chris Rautenbach",
          industry: "Industry",
          sub_industry: ["Sub1","Sub2","Sub3"],
          skills: ["laravel", "music", "data-capture"]
        },
        {
          id: 4,
          photo: "",
          fullname: "Ludri Rautenbach",
          industry: "Industry",
          sub_industry: ["Sub1","Sub2","Sub3"],
          skills: ["kakpraat", "js", "banking"]
        },
        {
          id: 5,
          photo: "",
          fullname: "Vlooi Marx",
          industry: "Industry",
          sub_industry: ["Sub1","Sub2","Sub1113"],
          skills: ["kakpraat", "js", "banking"]
        },
        {
          id: 6,
          photo: "",
          fullname: "Ludri Rautenbach",
          industry: "Industry",
          sub_industry: ["Sub1","Sub2","Sub12"],
          skills: ["kakpraat", "js", "banking"]
        },
        {
          id: 7,
          photo: "",
          fullname: "Vlooi Marx",
          industry: "Industry",
          sub_industry: ["Sub1","Sub2","Sub3"],
          skills: ["kakpraat", "js", "banking"]
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
</style>
