<template>
  <div id="app" class="p-5">
    <h2 class="text-center mb-5 font-weight-bold">Top Freelancers</h2>
    <Freelancers v-bind:freelancers="freelancers"/>
  </div>

</template>

<script>
import Freelancers from './Freelancers';

export default {
  name: "app",
  components:{
    Freelancers
  },
  data() {
    return {
      freelancers: []
    }
  },
  methods:{

  },
  created(){
    fetch('api/freelancers/active/all')
                .then(res => res.json())
                .then(res => {
                  console.log(res);
                    this.freelancers = res;
                })
  }
}
</script>

<style scoped>
</style>
