.text-blue {
    color: $blue;
}

.freelancer-register-left {
    background-image: url("/img/register/register-user.jpg");
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 0;
}

.freelancer-register-form-container {
    height: 800px;
}

.freelancer-register-form {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .btn-red {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.freelancer-basics-right {
    background-image: url("/img/register/register-user.jpg");
    min-height: 800px;
    background-position: bottom;
    // overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.freelancer-basics-form-container {
    height: 800px;
}

.freelancer-basics-form {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .btn-red {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    textarea {
        border: none;
        border-bottom: 1px solid #aeaeae;
        // border: 1px solid $blue;
        // border-radius: 5px;
        // padding: 15px;
        background-color: transparent;
    }

    textarea:active,
    textarea:focus {
        // background-color: #fff;
        outline: none !important;
    }

    input:focus {
        background-color: transparent;
        outline: none !important;
    }

    input {
        border: none;
        outline: none !important;
        background-color: transparent;
        border-bottom: 1px solid #aeaeae;
    }
}

.freelancer-step2-right {
    background-image: url("/img/register/register-user.jpg");
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 0;
}

.freelancer-step2-form-container {
    height: 800px;
}

.freelancer-step2-form {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .btn-red {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    input[name=company_name] {
        border: none;
        border-bottom: 1px solid #aeaeae;
        background: none;
        border-radius: 0;
        margin: 15px 0;
        outline: none !important;
        display: block;
        height: 35px;
        width: 100%;
        padding-left: 35px;
        padding-bottom: 8px;
        font-size: 1rem;
    }

    input[type=text]:focus {
        outline: none !important;
    }

    input[name=company_name] {
        background-image: url("/img/register/name-icon.png");
        background-repeat: no-repeat;
        background-position: 0 4px;
    }

    input[name=facebook],
    input[name=instagram],
    input[name=linkedin],
    input[name=whatsapp] {
        border: none;
        border-bottom: 1px solid #aeaeae;
        // color: #aeaeae;
        background: none;
        border-radius: 0;
        margin: 0;
        outline: none !important;
        display: block;
        height: 25px;
        width: 100%;
        padding-left: 35px;
        padding-bottom: 8px;
        font-size: 1rem;
    }

    input[name=whatsapp] {
        background-image: url("/img/register/whatsapp-icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    input[name=facebook] {
        background-image: url("/img/register/fb-icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    input[name=instagram] {
        background-image: url("/img/register/instagram-icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    input[name=linkedin] {
        background-image: url("/img/register/linkedin-icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    select {
        display: block;
        border: none;
        border-bottom: 1px solid #aeaeae;
        min-height: 45px;
        width: 100%;
        background: transparent;
        background-image: url("/img/register/name-icon.png");
        background-repeat: no-repeat;
        background-position: 0 10px;
        padding-left: 35px;
        padding-bottom: 2px;
    }

    select:focus {
        outline: none !important;
    }
}

.subscription-form-right {
    background-image: url("/img/hero-right.png");
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.subscription-form-container {
    height: 800px;
}

.subscription-form {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .btn-red {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .active-btn {
        background-color: $blue !important;
        border-color: $blue !important;
    }

    input[name=voucher] {
        border: none;
        border-bottom: 1px solid #aeaeae;
        // color: #aeaeae;
        background: none;
        border-radius: 0;
        margin: 0;
        outline: none !important;
        display: block;
        height: 35px;
        width: 100%;
        padding-left: 35px;
        padding-bottom: 8px;
        font-size: 1rem;
    }

    input[name=voucher] {
        background-image: url("/img/register/name-icon.png");
        background-repeat: no-repeat;
        background-position: 0 4px;
        width: 50%;
    }

    .price-plan-card {
        border: 3px solid #fff;
    }

    .price-plan-card:hover {
        border: 3px solid $blue;
    }

    .selected-plan {
        background-color: #f1fafd;
        border: 3px solid $blue;
    }

    .plan-check {
        position: absolute;
        top: -10px;
        right: -12px;
    }

    .plan-check-circle {
        background-color: $blue;
        padding: 3px 5px;
    }
}
#subcategory_id{
  max-height: 200px;
  overflow-y: scroll;
//   background-color: #fff;
}
